:root {
    --blue100--: #ffffff;
    --blue95--: #e6f2ff;
    --blue35--: #0056b3;
    --blue5--: #000c1a;
    --blue0--: #000000;

}

.admin {

    .header {
        height: 50px;

        .box {
            width: 100%;
            max-width: 1600px;
            margin: auto;
            height: 100%;
            display: flex;

            .title {
                margin: auto 5px;
            }

            .icons {
                height: max-content;
                margin: auto 5px auto auto;
                display: flex;

                svg {
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                    margin: 0 5px;
                }
            }
        }
    }

    .flexbox {
        display: flex;
        max-width: calc(1600px - 10px);
        height: calc(100vh - 50px);
        margin: auto;

        .narbar {
            width: 50px;
            height: 100%;
            position: relative;

            .icon {
                width: 40px;
                height: 40px;
                margin: 5px 0;
                left: 5px;
                border-radius: 20px;
                transition: all 0.5s;
                position: relative;
                z-index: 1;
                box-shadow: 0px 0px 2px grey;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                svg {
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                }

                p {
                    width: max-content;
                    margin: auto;
                }
            }

            .icon:hover {
                width: 200px;
                box-shadow: 0px 0px 5px grey;

            }
        }

        .content {
            width: calc(100% - 60px);
            box-shadow: 0px 0px 2px grey;
            border-radius: 5px;
            margin: 0 auto 0 0;
            height: calc(100% - 50px);

        }
    }

    .form {
        width: 90%;
        max-width: 375px;
        margin: auto;
        box-shadow: 0px 0px 2px #888;
        padding: 50px;
        border-radius: 10px;
        transform: all 0.25s;

        h1 {
            margin-bottom: 25px;
        }

        .input {
            width: 100%;
            height: 50px;
            position: relative;
            margin-top: 25px;

            .title {
                position: absolute;
                top: 18px;
                left: 10px;
                font-size: 1rem;
                transition: all 0.25s;
            }

            .title_focus {
                top: -15px;
                opacity: 0.5;

            }

            input {
                width: 100%;
                height: 40px;
                margin: 10px 0 0;
                border: none;
                background: none;
                padding: 0 10px;
                transition: all 0.25s;
                font-size: 1rem;
                color: inherit;
                font-family: '__Roboto_Mono_829659', '__Roboto_Mono_Fallback_829659';
                box-shadow: 0px 0px 1px #888;
            }

            input:focus {
                outline: none;
                border-bottom: 1px solid var(--blue35--);
                box-shadow: none;
            }
        }

        button {
            height: 40px;
            width: 100px;
            border: none;
            box-shadow: 0px 0px 1px #888;
            margin-top: 25px;
            cursor: pointer;
        }

        button:hover {
            box-shadow: 0px 0px 5px #888;
            background-color: var(--blue35--);
            color: white;
        }

        button:active {
            box-shadow: none;
        }
    }

    .form_focus {
        box-shadow: 0px 0px 5px #888;
    }
}