:root {
    --blue100--: #ffffff;
    --blue95--: #e6f2ff;
    --blue50--: #007bff;
    --blue35--: #0056b3;
    --blue5--: #000c1a;
    --blue0--: #000000;

}

.admin {
    .input {
        width: 100%;
        height: 50px;
        position: relative;
        margin-top: 25px;

        .title {
            position: absolute;
            top: 18px;
            left: 10px;
            font-size: 1rem;
            transition: all 0.25s;
        }

        .title_focus {
            top: -15px;
            opacity: 0.5;

        }

        input,
        textarea {
            width: 100%;
            height: 40px;
            margin: 10px 0 0;
            border: none;
            background: none;
            padding: 0 10px;
            transition: all 0.25s;
            font-size: 1rem;
            color: inherit;
            font-family: '__Roboto_Mono_829659', '__Roboto_Mono_Fallback_829659';
            box-shadow: 0px 0px 1px #888;
            border-radius: 5px;
            box-sizing: border-box;

        }

        input:focus {
            outline: none;
            border-bottom: 1px solid var(--blue35--);
            box-shadow: none;
        }

        textarea:focus {
            outline: none;
            border: 2px solid var(--blue35--);
        }

        svg {
            position: absolute;
            right: 0;
            bottom: 5px;
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            padding: 2.5px;
            cursor: inherit;

        }
    }

    .upload_button {
        width: max-content;
    }

    .textarea {
        height: max-content;

        textarea {
            height: 300px;
        }
    }

    button {
        height: 40px;
        width: 100px;
        border: none;
        box-shadow: 0px 0px 1px #888;
        margin-top: 25px;
        cursor: pointer;
        background-color: var(--blue50--);
        color: white;
    }

    button:hover {
        box-shadow: 0px 0px 5px #888;
        background-color: var(--blue35--);
    }

    button:active {
        box-shadow: none;
    }

    .card {
        aspect-ratio: 2/1;
        box-shadow: 0px 0px 1px #888;
        margin: 10px auto;
        border-radius: 10px;

        .general_card {
            cursor: pointer;
        }

        .general_card:hover {
            color: var(--blue50--);
        }
    }

    .header {
        height: 50px;

        .box {
            width: 100%;
            max-width: 1600px;
            margin: auto;
            height: 100%;
            display: flex;

            .title {
                margin: auto 5px;
            }

            .icons {
                height: max-content;
                margin: auto 5px auto auto;
                display: flex;

                svg,
                img {
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                    margin: 0 5px;
                    border-radius: 50%;
                }

                .modal {
                    display: none;

                    p {
                        cursor: pointer;
                        font-size: 0.9rem;
                    }
                }

                .open {
                    display: block;
                }
            }
        }
    }

    .flexbox {
        display: flex;
        max-width: calc(1600px - 10px);
        height: calc(100vh - 50px);
        margin: auto;

        .narbar {
            width: 60px;
            height: 100%;
            position: relative;

            .icon {
                width: 40px;
                height: 40px;
                margin: 10px;
                left: 5px;
                border-radius: 20px;
                transition: all 0.5s;
                position: relative;
                z-index: 1;
                box-shadow: 0px 0px 2px grey;
                overflow: hidden;
                display: flex;
                cursor: pointer;

                svg {
                    width: 30px;
                    height: 30px;
                    padding: 5px;
                }

                p {
                    width: max-content;
                    margin: auto;
                }
            }

            .icon:hover {
                width: 200px;
                box-shadow: 0px 0px 3px grey;

            }
        }

        .content {
            width: calc(100% - 60px);
            border-radius: 5px;
            margin: 0 auto 0 0;
            height: calc(100% - 50px);
            overflow: scroll;

            .dashboard {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }

            .items {
                .tool {
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(100% - 20px);
                    margin: auto;

                    .input {
                        max-width: 375px;

                        input {
                            box-sizing: border-box;
                        }

                        input:focus {
                            background-color: var(--blue100--);
                            color: var(--blue35--);
                        }
                    }

                    .icons {
                        height: max-content;
                        margin: auto 0 0 auto;

                        svg {
                            width: 30px;
                            height: 30px;
                            box-sizing: border-box;
                            padding: 2.5px;
                        }

                        svg:hover {
                            color: var(--blue50--);
                        }
                    }
                }

                .titleCard {
                    width: calc(100% - 20px);
                    box-shadow: 0px 0px 1px #888;
                    margin: 5px auto;
                    border-radius: 5px;
                    text-align: left;
                    padding: 10px;
                    font-size: 15px;
                    cursor: pointer;
                    display: flex;

                    p {
                        width: calc(100%);
                    }

                    svg {
                        width: 25px;
                        height: 25px;
                        cursor: pointer;

                    }

                    svg:hover {
                        color: var(--blue35--);
                    }
                }
            }

        }

        .edit {
            width: calc(100% - 60px);
            border-radius: 5px;
            margin: 0 auto 0;
            height: calc(100% - 50px);
            overflow-y: scroll;
            padding: 10px;

            .edit_image {
                height: 300px;
                position: relative;
                margin: 10px 0;
                width: max-content;
                ;

                .image_box {
                    height: 270px;

                    img {
                        width: auto;
                        height: 100%;
                    }
                }

                p {
                    height: 30px;
                    line-height: 30px;

                    span {
                        opacity: 0.5;
                        cursor: pointer;
                    }

                    span:hover {
                        color: red;
                        opacity: 1;
                    }
                }

                svg {
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                }
            }
        }
    }


    .form {
        width: 90%;
        max-width: 375px;
        margin: auto;
        box-shadow: 0px 0px 2px #888;
        padding: 50px;
        border-radius: 10px;
        transition: all 0.5s;

        h1 {
            margin-bottom: 25px;
        }

    }

    .form_focus {
        box-shadow: 0px 0px 5px #888;
    }

}