:root {
  --blue100--: #ffffff;
  --blue95--: #e6f2ff;
  --blue90--: #cce5ff;
  --blue50--: #007bff;
  --blue35--: #0056b3;
  --blue5--: #000c1a;
  --blue0--: #000000;
}

.home {
  position: relative;
}

.home .menu {
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 10;
  display: flex;
}

.home .menu svg {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--blue35--);
}

.home .menu .item {
  height: calc(100% - 20px);
  margin: auto;
  border-radius: 5px;
}

.home .menu .left p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0;
  cursor: pointer;
}

.home .menu .left p:hover {
  background-color: var(--blue35--);
  color: var(--blue100--);
}

@media (max-width: 575px) {
  .home .menu .right {
    margin: 0;
  }
}

.home .menuOpen {
  width: 100%;
  left: 0;
  right: auto;
}

.home .header {
  height: 50px;
  position: fixed;
  top: 5px;
  width: 100%;
  z-index: 9;
}

.home .header .box {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
  padding: 0 25px;
  transition: all 0.25s;
  opacity: 0.25;
  backdrop-filter: blur(1px);
}

.home .header .box .title {
  margin: auto 5px auto 0px;
  width: 100%;
}

.home .header .box .title h1 {
  cursor: pointer;
}

.home .header .box .icons {
  height: max-content;
  margin: auto 5px auto auto;
  display: flex;
}

.home .header .box .icons svg,
.home .header .box .icons img {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.home .header .box .icons .modal {
  display: none;
  position: absolute;
  top: 50px;
  right: 5px;
  width: 150px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
}

.home .header .box .icons .modal p {
  cursor: pointer;
  font-size: 0.9rem;
  width: 99%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto;
}

.home .header .box .icons .modal p:hover {
  background-color: var(--blue50--);
  color: white;
}

.home .header .box .icons .open {
  display: block;
}

.home .header .box .left {
  margin: auto 0;
}

.home .header .boxHover {
  opacity: 1;
  backdrop-filter: blur(5px);
}

.home .parallaxs {
  width: 100%;
  overflow: auto;
}

.home .parallaxs .parallaxBox {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  max-width: 4000px;
  padding: 50px 0px;
}

.home .parallaxs .parallaxBox .item {
  width: calc(360px);
  aspect-ratio: 3/2;
  margin: 25px 20px;
  padding: 20px;
  border-radius: 10px;
  user-select: none;
  transition: all 0.25s;
  box-shadow: 0px 0px 2px #666;
  cursor: pointer;
  animation: item_parallax 1s ease-in;
}

.home .parallaxs .parallaxBox .item p {
  margin: 0.5vh 0;
  font-size: 0.9rem;
}

.home .parallaxs .parallaxBox .item .picture {
  height: 80%;
}

.home .parallaxs .parallaxBox .item .picture img {
  width: auto;
  height: 95%;
}

.home .parallaxs .parallaxBox .item:hover {
  transform: scale(1.025);
  box-shadow: 0px 0px 20px #888;
}

@keyframes item_parallax {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home .parallaxs::-webkit-scrollbar {
  display: none;
}

.home .single {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.home .single .item {
  height: calc(100vh - 20px);
  margin: 10px auto;
  border-radius: 5px;
}

.home .single .left {
  overflow: hidden;
}

.home .single .left img {
  height: auto;
  width: 45vh;
  margin: auto;
}

.home .single .right {
  padding: 0 25px;
  overflow: scroll;
}

.home .single .right .page {
  height: 100vh;
}

.home .single .right .page h4 {
  margin-bottom: 10px;
}

.home .single .right .page p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.home .single .right .page .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.home .single .right .page img {
  width: 100%;
  margin-bottom: 10px;
}

.home .single .right::-webkit-scrollbar {
  display: none;
}

.home .chat {
  width: 100%;
  max-width: 1600px;
  height: calc(100vh - 50px);
  margin: 55px auto 0;
  padding: 0 25px;
  display: flex;
}

.home .chat .friends {
  width: 50px;
  height: 99%;
  box-shadow: 0px 0px 5px #888;
  border-radius: 5px;
}

.home .chat .friends p {
  display: none;
}

.home .chat .friends .title {
  display: flex;
}

.home .chat .friends .title svg {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px auto;
}

.home .chat .callRoom {
  width: 0;
  overflow: hidden;
  position: relative;
}

.home .chat .callRoom button {
  position: absolute;
  z-index: 9;
}

.home .chat .callRoom .mainVideo {
  width: 100%;
  height: 75%;
  border-radius: 5px;
}

.home .chat .callRoom .mainVideo video {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.home .chat .callRoom .childVideo {
  height: 20%;
  aspect-ratio: 3/2;
}

.home .chat .callRoom .childVideo video {
  height: 100%;
  width: auto;
  border-radius: 5px;
}

.home .chat .callRoomOpen {
  width: calc(100% - 50px);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.home .chat .callRoomOpen svg {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 768px) {
  .home .chat .callRoomOpen {
    width: calc(100% - 200px);
  }
}

.home .chat .messageBox {
  width: calc(100% - 50px);
  height: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .home .chat .messageBox {
    width: calc(100% - 200px);
  }
}

.home .chat .messageBoxClose {
  width: 0;
}

@media (min-width: 768px) {
  .home .chat .friends {
    width: 200px;
  }
  .home .chat .friends p {
    display: block;
    line-height: 50px;
  }
  .home .chat .friends .title {
    width: 90%;
    margin: auto;
  }
  .home .chat .friends .title svg {
    text-align: right;
    margin: auto 0 auto auto;
  }
}
