:root {
    --blue100--: #ffffff;
    --blue95--: #e6f2ff;
    --blue90--: #cce5ff;
    --blue50--: #007bff;
    --blue35--: #0056b3;
    --blue5--: #000c1a;
    --blue0--: #000000;

}

.home {
    position: relative;

    .menu {
        position: fixed;
        top: 0;
        left: auto;
        right: 0;
        width: 0;
        height: 100vh;
        overflow: hidden;
        transition: all 0.5s;
        z-index: 10;
        display: flex;

        svg {
            position: absolute;
            top: 15px;
            right: 15px;
            color: var(--blue35--);

        }

        .item {
            height: calc(100% - 20px);
            margin: auto;
            border-radius: 5px;
        }

        .left {

            p {
                font-size: 1.2rem;
                font-weight: bold;
                padding: 10px 0;
                cursor: pointer;
            }

            p:hover {
                background-color: var(--blue35--);
                color: var(--blue100--);
            }
        }

        .right {
            @media (max-width:575px) {
                margin: 0;
            }
        }


    }

    .menuOpen {
        width: 100%;
        left: 0;
        right: auto;
    }

    .header {
        height: 50px;
        position: fixed;
        top: 5px;
        width: 100%;
        z-index: 9;

        .box {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            height: 100%;
            display: flex;
            position: relative;
            border-radius: 5px;
            padding: 0 25px;
            transition: all 0.25s;
            opacity: 0.25;
            backdrop-filter: blur(1px);

            .title {
                margin: auto 5px auto 0px;
                width: 100%;

                h1 {
                    cursor: pointer;
                }
            }

            .icons {
                height: max-content;
                margin: auto 5px auto auto;
                display: flex;

                svg,
                img {
                    width: 25px;
                    height: 25px;
                    box-sizing: border-box;
                    margin: 0 5px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .modal {
                    display: none;
                    position: absolute;
                    top: 50px;
                    right: 5px;
                    width: 150px;
                    box-shadow: 0px 0px 10px grey;
                    border-radius: 5px;

                    p {
                        cursor: pointer;
                        font-size: 0.9rem;
                        width: 99%;
                        padding: 5px 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        box-sizing: border-box;
                        border-radius: 5px;
                        margin: auto;
                    }

                    p:hover {
                        background-color: var(--blue50--);
                        color: white
                    }
                }

                .open {
                    display: block;
                }
            }

            .left {
                margin: auto 0;
            }
        }

        .boxHover {
            opacity: 1;
            backdrop-filter: blur(5px);
        }
    }

    .parallaxs {
        width: 100%;
        overflow: auto;

        .parallaxBox {
            display: flex;
            flex-wrap: wrap;
            width: max-content;
            max-width: 4000px;
            padding: 50px 0px;

            .item {
                width: calc(360px);
                aspect-ratio: 3/2;
                margin: 25px 20px;
                padding: 20px;
                border-radius: 10px;
                user-select: none;
                transition: all 0.25s;
                box-shadow: 0px 0px 2px #888;
                cursor: pointer;
                animation: item_parallax 1s ease-in;

                p {
                    margin: 0.5vh 0;
                    font-size: 0.9rem;
                }

                .picture {
                    height: 80%;

                    img {
                        width: auto;
                        height: 95%;
                    }

                }
            }

            .item:hover {
                transform: scale(1.025);
                box-shadow: 0px 0px 10px #888;
            }

            @keyframes item_parallax {
                0% {
                    opacity: 0;
                    transform: translateY(100px);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }

            }
        }
    }

    .parallaxs::-webkit-scrollbar {
        display: none;
    }

    .single {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1600px;
        margin: auto;

        .item {
            height: calc(100vh - 20px);
            margin: 10px auto;
            border-radius: 5px;
        }

        .left {
            overflow: hidden;

            img {
                height: auto;
                width: 80%;
                margin: auto
            }
        }

        .right {
            padding: 0 25px;
            overflow: scroll;

            .page {
                height: 100vh;

                h4 {
                    margin-bottom: 10px;
                }

                p {
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                }

                .title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }

                img {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }

        .right::-webkit-scrollbar {
            display: none;
        }
    }

    .chat {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        height: 100vh;
        position: relative;
        padding: 50px 25px;

        .room {
            position: absolute;
            top: 60px;
            height: 80%;
            width: 300px;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0px 0px 1px #888;
            display: none;
            z-index: 2;

            .item {
                height: 30px;
                line-height: 30px;
                color: #888;
                border-bottom: 1px solid;
                width: 90%;
                margin: 5px auto;
                text-align: left;
                display: flex;
                position: relative;

                .icon {
                    position: unset;
                    height: 20px;
                    width: 20px;
                    margin: 2.5px;
                    color: #888;
                    bottom: unset;
                    right: unset;
                }
            }

            .icon {
                position: absolute;
                height: 30px;
                width: 30px;
                margin: 5px;
                bottom: 5px;
                right: 5px;
                color: #888
            }

            .room_friend_box {
                width: 90%;
                margin: 5px auto;

                p {
                    height: 20px;
                    line-height: 20px;
                    text-align: left;

                }
            }
        }

        .roomOpen {
            display: block;
        }

        .chatbox {
            width: 100%;
            height: 100%;
            position: relative;
            top: 10px;

            svg {
                position: absolute;
                height: 30px;
                width: 30px;
                margin: 5px;
                top: 2.5px;
                left: 0px;
                border: 1px solid;
                border-radius: 50%;
                padding: 2.5px;
                box-sizing: border-box;
            }

            .message {
                height: 75%;
                border-radius: 5px;

                .item {
                    width: 50%;
                    border-radius: 10px;
                    box-shadow: 0px 0px 1px #888;
                    padding: 5px 10px;
                    text-align: left;
                    line-height: 1.5;
                    margin-top: 5px;

                    span {
                        font-size: 0.9rem;
                        opacity: 0.5;
                    }
                }

            }

            .iconTool {
                position: relative;
                top: -20px
            }

            .input_box {
                height: 25%;
                display: flex;

                .input {
                    width: 75%;
                    height: 100%;

                    .title {
                        top: 5px
                    }

                    .title_focus {
                        top: -25px;
                        opacity: 0;
                    }

                    textarea {
                        width: 100%;
                        margin: auto 0 0;
                        height: calc(100% - 25px);
                        padding: 5px;
                        box-shadow: 0px 0px 2px;

                    }

                    textarea:focus {
                        outline: none;
                        border: none;
                        background-color: rgba($color: white, $alpha: 0.05);
                    }
                }

                button {
                    width: 20%;
                    margin: auto auto 0;
                    border-radius: 5px;
                }
            }
        }

        .call {
            video {
                width: 100px;
                height: 100px;

            }
        }

        .scroll::-webkit-scrollbar {
            display: none;
        }

        @media (min-width:768px) {
            .room {
                position: inherit;
                display: block;
                height: calc(100%);
                top: 5px
            }

            .chatbox {
                .icon {
                    display: none;
                }

                width: calc((100% - 350px));
                margin: auto;
            }

        }

    }
}