:root {
    --blue100--: #ffffff;
    --blue95--: #e6f2ff;
    --blue35--: #0056b3;
    --blue5--: #000c1a;
    --blue0--: #000000;

}

@import "./grid.scss";

* {
    margin: 0;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

svg {
    cursor: pointer;
}

.light {
    background-color: var(--blue95--);
    color: var(--blue5--);
}

.dark {
    background-color: var(--blue5--);
    color: var(--blue95--);
}

.white {
    background-color: var(--blue100--);
}

.black {
    background-color: var(--blue0--);
}

.light_plus5 {
    background-color: rgba($color: white, $alpha: 0.5);
}

.dark_plus5 {
    background-color: rgba($color: black, $alpha: 0.5);
}

.main {
    width: 100%;
}

.height {
    height: 100vh;
}

.heightwidthHeader {
    height: calc(100vh -50px);
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.link {
    display: flex;
    width: 100%;
    max-width: 575px;
    margin: 10px auto 0;

    h2 {
        width: 100%;
        aspect-ratio: 1/0.5;
        box-shadow: 0px 0px 2px;
        margin: 5px;
        border-radius: 5px;
        transition: all 0.25s;
    }

    h2:hover {
        background-color: var(--blue35--);
        box-shadow: 0px 0px 0px;
    }
}